@using GhostChat.ViewModels.Messages

@model MessagesListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/main.css" rel="stylesheet" />

<div class="container">
    <h1 class="text-center" style="visibility:hidden">Welcome to GhostChat</h1>
    <div class="row">
        <div class="friends-sidebar col-md-4">
            <div class="header">
                Conversations
            </div>
            <div class="friends-list">
                <ul>
                    @foreach (var friend in Model.Friends)
                    {
                        <li class="friend">
                            <a href="/Main/Messages/@friend.Username">
                                <span>@friend.Username</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="messages col-md-8">
            <div class="message-window">
                @if (Model.Messages.Count != 0)
                {
                    @foreach (var message in Model.Messages)
                    {
                        if (message.Type == "Outgoing")
                        {
                            <div class="message outgoing-message">
                                <p class="outgoing">
                                    @message.Text
                                    <br>
                                    <span>@message.CreationTime</span>
                                </p>                            
                            </div>
                        }
                        else if (message.Type == "Incoming")
                        {
                            <div class="message">
                                <p class="incoming">
                                    @message.Text
                                    <br>
                                    <span>@message.CreationTime</span>
                                </p>
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="text-center empty-box">There are no messages yet. Say something first!</div>
                }
            </div>
            <form method="post" action="/Main/SendMessage" class="form-inline message-input">
                <input type="hidden" name="RecipientId" value="@ViewBag.RecipientId" />
                <input type="text" name="Text" placeholder="Input your message" class="form-control mr-1">
                <button class="btn btn-primary px-4">Send</button>
            </form>
        </div>
    </div>
</div>